{%include 'admin_header.html'%}
<div id="layoutSidenav">
        {% include 'admin_sidebar.html' %}
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <center>
                    	<h2>Complaints</h2>
						<table align="center" class="table">
							<tr>
								<th>Date</th>
								<th>Name</th>
								<th>Comment</th>
								<th>Reply</th>
								
							</tr>
							{%for row in data['comments']%}
							<tr>
								<td>{{row['date']}}</td>
								<td>{{row['NAME']}}</td>
								<td>{{row['complaint_description']}}</td>
								{% if row['solution_description']=='pending'%}
								<form method="post">
								<td><input type="text" class="form-control" name="reply{{loop.index}}"><input class="btn btn-success" type="submit" style="width:200px" name="submit{{loop.index}}" value="Submit"></td>
								</form>
								{%else%}
									<td>{{row['solution_description']}}</td>
								{%endif%}
								{%endfor%}
							</tr>
						</table>
					</center>
				</div>
			</main>
		</div>
	</div>
{%include 'admin_footer.html'%}