{%include 'admin_header.html'%}
<div id="layoutSidenav">
        {% include 'admin_sidebar.html' %}
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <center>
                    	<h2>Customer Bookings</h2>
						<table class="table">
							<tr>
								<th>Name</th>
								<th>Ad Type</th>
								<th>Date</th>
								<th>Advertisement</th>
								<th>Message</th>
								<th>Amount</th>
							</tr>
							{%for row in data['cbook']%}
							<tr>
								<td>{{row['NAME']}}</td>
								<td>{{row['ad_type']}}</td>
								<td>{{row['date']}}</td>
								<td><img src="/{{row['file_path']}}" width="200px" height="250px"></td>
								<td>{{row['message']}}</td>
								<td>{{row['amount']}}</td>
							</tr>
							{%endfor%}
						</table>
					</center>
				</div>
			</main>
		</div>
	</div>
{%include 'admin_footer.html'%}