<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="admin_home">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <div class="sb-sidenav-menu-heading">Manage</div>
                <a class="nav-link" href="admin_manage_adcategories">
                    <div class="sb-nav-link-icon"><i class="fa fa-th-list"></i></div>
                    Ad Categories
                </a>
                <a class="nav-link" href="admin_manage_medias">
                    <div class="sb-nav-link-icon"><i class="fa fa-camera-retro"></i></div>
                    Medias
                </a>
                <a class="nav-link" href="admin_manage_commission">
                    <div class="sb-nav-link-icon"><i class="fa fa-credit-card"></i></div>
                    Commission
                </a>
                <div class="sb-sidenav-menu-heading">View</div>
                <a class="nav-link" href="admin_view_userss">
                    <div class="sb-nav-link-icon"><i class="fa fa-users"></i></div>
                    Users
                </a>
                <a class="nav-link" href="admin_view_media_adspace">
                    <div class="sb-nav-link-icon"><i class="fa fa-clone"></i></div>
                    Ad Spaces
                </a>
                <a class="nav-link" href="admin_view_custom_request_from_customer">
                    <div class="sb-nav-link-icon"><i class="fa fa-envelope"></i></div>
                    Custom Requests
                </a>
                <a class="nav-link" href="admin_view_payments">
                    <div class="sb-nav-link-icon"><i class="fa fa-credit-card"></i></div>
                    Payments
                </a>
                <a class="nav-link" href="admin_view_complaints">
                    <div class="sb-nav-link-icon"><i class="fa fa-envelope"></i></div>
                    Complaints
                </a>
            </div>
        </div>
    </nav>
</div>