{%include 'public_header.html'%}
<section id="call-to-action">
    <div class="container text-center">
        <center>
			<form method="post">
				<table align="center">
					<br><br>
				<h2 align="center">Login Here..</h2>
					<tr>
						<th>Username</th>
						<td><input type="text" name="username" class="form-control" required="" placeholder="Username"></td>
					</tr>
					<tr>
						<th><br>Password</th>
						<td><br><input type="password" name="password" class="form-control"  required=""  placeholder="Password"></td>
					</tr>
					<tr>
						<td colspan="2" align="center"><br><input type="submit" class="btn btn-success" name="login" value="Login"></td>
					</tr>
				</table>
			</form>
		</center>
	</div>
</section>
{%include 'footer.html'%}