<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="media_home">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <div class="sb-sidenav-menu-heading">Manage</div>
                <a class="nav-link" href="media_manage_adspaces">
                    <div class="sb-nav-link-icon"><i class="fa fa-th-list"></i></div>
                    Ad Spaces
                </a>
                <div class="sb-sidenav-menu-heading">View</div>
                <a class="nav-link" href="media_view_custom_requests">
                    <div class="sb-nav-link-icon"><i class="fa fa-envelope"></i></div>
                    Custom Requests
                </a>
            </div>
        </div>
    </nav>
</div>